<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/ui/css/style.css" />
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CDN Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/10ee65637f.js" crossorigin="anonymous"></script>

    <!--Datatable CDN-->
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>


</head>

<body id="app">
    <div >

    <!--Side navigation bar-->
    <div class="container-fluid">
        

        <section class="home-section ">
            <!-- Content wrapper-->
            <div class="content-wrapper ">
                <div class="container-xxl flex-grow-1 container-p-y">

                    <div class="row container-fluid">
                        <div class="col-lg">
                            
                            <!--Second row -->
                            <div class="card ">
                                <div class="card-body">
                                    <!-- <div class="d-flex justify-content-between flex-sm-row flex-column gap-3"> -->
                                    <!-- <div
                                            class="d-flex flex-sm-column flex-row align-items-start justify-content-between"> -->
                                    <div class="card-title">
                                        <h5 class="text-nowrap mb-2"></h5>

                                        <!--Start of search -->
                                        <h5>UnAssign course to skill</h5>

                                        
                                        <form v-on:submit.prevent=unassignSkilltoCourse() class="was-validated">
                                            <div class="mb-3 mt-3">
                                                <p>Select Skill</p>
                                                <select class="form-select"  v-model="skilltoCourse.skillSkillId" aria-label="Default select example">
                                                    <option selected>Select a Skill</option>
                                                    <option v-for="skill in skills" :value="skill.skills"> {{ skill.skill_name }} </option>
                                                </select>
                                                <button type="button" class="btn btn-primary" @click="getCourseBySkill(skilltoCourse.skillSkillId)">Confirm Skill</button>
                        
                                            </div>
                        
                                            <div class="mb-3 mt-3" v-if="showCourses == true">
                                                    <p>Select Courses</p>
                                                    <span v-for="course in courses">
                                                      <input type="checkbox" :value="course.course_id" v-model="skilltoCourse.courseCourseId"> <span class="checkbox-label" > {{course.course_name}} </span> <br>
                                                    </span>
                                                    <hr>
                        
                                            </div>

                                          <br>

                                        
                                        
                                        
                                      <button type="submit" class="btn btn-primary">Unassign Skill from Role</button>
                                    </form>

                                    
                                        
                                        <!--End of search staff-->    

                                    </div>


                                </div>
                            </div>


                            
                        </div>
                   

                    </div>

             





                </div>
                
            </div>
          



        </section>
    </div>
    </div>
    </div>
    <script>

        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        // searchBtn.addEventListener("click", () => {
        //     // Sidebar open when you click on the search iocn
        //     sidebar.classList.toggle("open");
        //     menuBtnChange(); //calling the function(optional)
        // });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
            }
        }


        function myLJ() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myLJ");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTableLJ");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

   
        

    </script>
</body>






<!--End of modal-->
<!-- Vue.js 3 CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  

<!-- Axios CDN -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Refer to my own external JS -->
<script src="./js/vue.js"></script>

</html>